dtd/displaymenu.dtd

<?xml encoding="UTF-8"?>

<!ENTITY % functions SYSTEM "functions.dtd">

<!ELEMENT displaymenu (background,header,datetime,time*,message,sortmode*,colorbuttons,
                       menudefault,menumain*,menusetup*,menuschedules*,
                       menutimers*,menuchannels*,menurecordings*,
                       menudetailedepg,menudetailedrecording,
                       menudetailedtext)>
<!ATTLIST displaymenu
  x CDATA #REQUIRED
  y CDATA #REQUIRED
  width CDATA #REQUIRED
  height CDATA #REQUIRED
  fadetime CDATA #IMPLIED
  debuggrid CDATA #IMPLIED
>

<!ELEMENT background (areacontainer|area|areascroll)*>
<!ATTLIST background
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT header (areacontainer|area|areascroll)*>
<!ATTLIST header
  detached CDATA #IMPLIED
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT datetime (areacontainer|area|areascroll)*>
<!ATTLIST datetime
  detached CDATA #IMPLIED
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT time (areacontainer|area|areascroll)*>
<!ATTLIST time
  detached CDATA #IMPLIED
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT message (areacontainer|area|areascroll)*>
<!ATTLIST message
  detached CDATA #IMPLIED
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT sortmode (areacontainer|area|areascroll)*>
<!ATTLIST sortmode
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT colorbuttons (areacontainer|area|areascroll)*>
<!ATTLIST colorbuttons
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT timers (areacontainer|area|areascroll)*>
<!ATTLIST timers
  detached CDATA #IMPLIED
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT discusage (areacontainer|area|areascroll)*>
<!ATTLIST discusage
  detached CDATA #IMPLIED
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT devices (areacontainer|area|areascroll)*>
<!ATTLIST devices
  detached CDATA #IMPLIED
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
  mode CDATA #IMPLIED
>

<!ELEMENT systemload (areacontainer|area|areascroll)*>
<!ATTLIST systemload
  detached CDATA #IMPLIED
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT systemmemory (areacontainer|area|areascroll)*>
<!ATTLIST systemmemory
  detached CDATA #IMPLIED
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT temperatures (areacontainer|area|areascroll)*>
<!ATTLIST temperatures
  detached CDATA #IMPLIED
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT vdrstatistics (areacontainer|area|areascroll)*>
<!ATTLIST vdrstatistics
  detached CDATA #IMPLIED
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT currentschedule (areacontainer|area|areascroll)*>
<!ATTLIST currentschedule
  detached CDATA #IMPLIED
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT currentweather (areacontainer|area|areascroll)*>
<!ATTLIST currentweather
  detached CDATA #IMPLIED
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT lastrecordings (areacontainer|area|areascroll)*>
<!ATTLIST lastrecordings
  detached CDATA #IMPLIED
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT customtokens (areacontainer|area|areascroll)*>
<!ATTLIST customtokens
  detached CDATA #IMPLIED
  delay CDATA #IMPLIED
  fadetime CDATA #IMPLIED
  shifttime CDATA #IMPLIED
  shifttype CDATA #IMPLIED
  shiftmode CDATA #IMPLIED
  startx CDATA #IMPLIED
  starty CDATA #IMPLIED
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT scrollbar (areacontainer|area|areascroll)*>
<!ATTLIST scrollbar
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT detailheader (areacontainer|area|areascroll)*>
<!ATTLIST detailheader
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT tablabels (areacontainer|area|areascroll)*>
<!ATTLIST tablabels
  debug CDATA #IMPLIED
  condition CDATA #IMPLIED
>

<!ELEMENT menudefault (background | header | datetime | time | colorbuttons | scrollbar | sortmode | menuitems)*>
<!ATTLIST menudefault
  x CDATA #REQUIRED
  y CDATA #REQUIRED
  width CDATA #REQUIRED
  height CDATA #REQUIRED
  fadetime CDATA #IMPLIED
  scaletvx CDATA #IMPLIED
  scaletvy CDATA #IMPLIED
  scaletvwidth CDATA #IMPLIED
  scaletvheight CDATA #IMPLIED
  debuggrid CDATA #IMPLIED
>

<!ELEMENT menumain (background | header | datetime | time | colorbuttons | scrollbar | sortmode | timers | 
                    discusage | devices | systemload | systemmemory | vdrstatistics | temperatures | currentschedule | 
                    currentweather | lastrecordings | customtokens | menuitems)*>
<!ATTLIST menumain
  x CDATA #REQUIRED
  y CDATA #REQUIRED
  width CDATA #REQUIRED
  height CDATA #REQUIRED
  fadetime CDATA #IMPLIED
  scaletvx CDATA #IMPLIED
  scaletvy CDATA #IMPLIED
  scaletvwidth CDATA #IMPLIED
  scaletvheight CDATA #IMPLIED
  debuggrid CDATA #IMPLIED
>

<!ELEMENT menusetup (background | header | datetime | time | colorbuttons | scrollbar | sortmode | menuitems)*>
<!ATTLIST menusetup
  x CDATA #REQUIRED
  y CDATA #REQUIRED
  width CDATA #REQUIRED
  height CDATA #REQUIRED
  fadetime CDATA #IMPLIED
  scaletvx CDATA #IMPLIED
  scaletvy CDATA #IMPLIED
  scaletvwidth CDATA #IMPLIED
  scaletvheight CDATA #IMPLIED
  debuggrid CDATA #IMPLIED
>

<!ELEMENT menuschedules (background | header | datetime | time | colorbuttons | scrollbar | sortmode | menuitems)*>
<!ATTLIST menuschedules
  x CDATA #REQUIRED
  y CDATA #REQUIRED
  width CDATA #REQUIRED
  height CDATA #REQUIRED
  fadetime CDATA #IMPLIED
  scaletvx CDATA #IMPLIED
  scaletvy CDATA #IMPLIED
  scaletvwidth CDATA #IMPLIED
  scaletvheight CDATA #IMPLIED
  debuggrid CDATA #IMPLIED
>

<!ELEMENT menutimers (background | header | datetime | time | colorbuttons | scrollbar | sortmode | menuitems)*>
<!ATTLIST menutimers
  x CDATA #REQUIRED
  y CDATA #REQUIRED
  width CDATA #REQUIRED
  height CDATA #REQUIRED
  fadetime CDATA #IMPLIED
  scaletvx CDATA #IMPLIED
  scaletvy CDATA #IMPLIED
  scaletvwidth CDATA #IMPLIED
  scaletvheight CDATA #IMPLIED
  debuggrid CDATA #IMPLIED
>

<!ELEMENT menuchannels (background | header | datetime | time | colorbuttons | scrollbar | sortmode | menuitems)*>
<!ATTLIST menuchannels
  x CDATA #REQUIRED
  y CDATA #REQUIRED
  width CDATA #REQUIRED
  height CDATA #REQUIRED
  fadetime CDATA #IMPLIED
  scaletvx CDATA #IMPLIED
  scaletvy CDATA #IMPLIED
  scaletvwidth CDATA #IMPLIED
  scaletvheight CDATA #IMPLIED
  debuggrid CDATA #IMPLIED
>

<!ELEMENT menurecordings (background | header | datetime | time | colorbuttons | scrollbar | sortmode | menuitems)*>
<!ATTLIST menurecordings
  x CDATA #REQUIRED
  y CDATA #REQUIRED
  width CDATA #REQUIRED
  height CDATA #REQUIRED
  fadetime CDATA #IMPLIED
  scaletvx CDATA #IMPLIED
  scaletvy CDATA #IMPLIED
  scaletvwidth CDATA #IMPLIED
  scaletvheight CDATA #IMPLIED
  debuggrid CDATA #IMPLIED
>

<!ELEMENT menudetailedepg (background | header | datetime | time | colorbuttons | scrollbar |
                           detailheader | tab | tablabels)*>
<!ATTLIST menudetailedepg
  x CDATA #REQUIRED
  y CDATA #REQUIRED
  width CDATA #REQUIRED
  height CDATA #REQUIRED
  fadetime CDATA #IMPLIED
  scaletvx CDATA #IMPLIED
  scaletvy CDATA #IMPLIED
  scaletvwidth CDATA #IMPLIED
  scaletvheight CDATA #IMPLIED
  debuggrid CDATA #IMPLIED
>

<!ELEMENT menudetailedrecording (background | header | datetime | time | colorbuttons | scrollbar |
                                 detailheader | tab | tablabels)*>
<!ATTLIST menudetailedrecording
  x CDATA #REQUIRED
  y CDATA #REQUIRED
  width CDATA #REQUIRED
  height CDATA #REQUIRED
  fadetime CDATA #IMPLIED
  scaletvx CDATA #IMPLIED
  scaletvy CDATA #IMPLIED
  scaletvwidth CDATA #IMPLIED
  scaletvheight CDATA #IMPLIED
  debuggrid CDATA #IMPLIED
>

<!ELEMENT menudetailedtext (background | header | datetime | time | colorbuttons | scrollbar |
                            detailheader | tab )*>
<!ATTLIST menudetailedtext
  x CDATA #REQUIRED
  y CDATA #REQUIRED
  width CDATA #REQUIRED
  height CDATA #REQUIRED
  fadetime CDATA #IMPLIED
  scaletvx CDATA #IMPLIED
  scaletvy CDATA #IMPLIED
  scaletvwidth CDATA #IMPLIED
  scaletvheight CDATA #IMPLIED
  debuggrid CDATA #IMPLIED
>

<!ELEMENT menuitems (listelement,currentelement?)>
<!ATTLIST menuitems
  x CDATA #REQUIRED
  y CDATA #REQUIRED
  width CDATA #REQUIRED
  height CDATA #REQUIRED
  align (left|top|center|bottom|right) #IMPLIED
  menuitemwidth CDATA #IMPLIED
  determinatefont CDATA #IMPLIED
  numlistelements CDATA #REQUIRED
  orientation (horizontal|vertical) #REQUIRED
>

<!ELEMENT listelement (areacontainer|area|areascroll)*>
<!ATTLIST listelement
  debug CDATA #IMPLIED
>

<!ELEMENT currentelement (areacontainer|area|areascroll)*>
<!ATTLIST currentelement
  delay CDATA #REQUIRED
  fadetime CDATA #IMPLIED
  condition CDATA #IMPLIED
  debug CDATA #IMPLIED
>

<!ELEMENT tab (loop|fill|drawtext|drawtextbox|drawimage|drawrectangle|drawellipse)*>
<!ATTLIST tab
  x CDATA #REQUIRED
  y CDATA #REQUIRED
  width CDATA #REQUIRED
  height CDATA #REQUIRED
  layer CDATA #REQUIRED
  name CDATA #REQUIRED
  scrollheight CDATA #REQUIRED
  transparency CDATA #IMPLIED
  condition CDATA #IMPLIED
  debug (true|false) #IMPLIED
>

%functions;